#boton {

    height: 100px;
    background-color: #F0730D;
    border: 0px;
    width: 100%;
}

#boton:hover {
    background-color: #172532;
    
}

#logo {
    height: 100px;
    background-color: #172532;
    border: 0ch;
}

#barra {
    background-color: #EFEFEF;
    font: normal normal bold 15px Roboto Slab;
}

#container {
    min-height: 100vh;
    position: fixed;
    padding-bottom: auto;
    background-color: #F0730D;
}

#registro {
    position: absolute;
    top: 50px;
    left: 100px;
    right: 10px;
}

a{
    width: 100%;
} 


