{% extends "layout.html"%}
{% block content %}

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>

    <!-- ========== estilosPropios ========== -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylebarra.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylebuscar.css') }}">
    <!-- ========== buscar ========== -->

    <div class="container">
        <div class="brand-logo"></div>
        <form action="" method="post">
            {{ form.hidden_tag() }}   
            <br><br><div style="font-size: 20px; text-align: center;">Modulo de Cambio de ROL</div>              
            <div class="mb-3 col-12" >
                <label  class="form-label">Correo Empleado</label>
                {{ form.emailUser(class_="form-control") }}
                {% for error in form.emailUser.errors %}
                <span style="color: red; font-size: 12px;">{{ error }}</span>
                {% endfor %}              
            </div>
            {{ form.submitUser(class_='btn btn-primary') }}
        </form>
        <div class="mb-3 col-12" >
            <br>
            {% if empleado and user %}
            <table>
                <tr>
                  <th>Nombre</th>
                  <th>Cargo</th>
                  <th>Tipo Contrato</th>
                  <th>Administrador</th>
                  <th>SuperAdministrador</th>
                  <th>Seleccion de Rol</th>
                </tr>
                <tr>
                  <td>{{ empleado.nombres }} {{ empleado.apellido }}</td>
                  <td>{{ empleado.cargo }}</td>
                  <td>{{ empleado.tipo_contrato }}</td>
                  <td>{{ user.is_admin }}</td>
                  <td>{{ user.is_superadmin }}</td>
                  <td>
                        <form action="/cambiorol/{{ empleado.id }}" method="post">
                            {{ form.hidden_tag() }}
                            <select name="setrol">
                                <option value="E">Empleado</option>
                                <option value="A">Administrador</option>
                                <option value="S">SuperAdministrador</option>
                            </select>
                            <button type="submit">Cambiar Rol</button>
                        </form>
                  </td>
                </tr>
              </table>
            {% endif %}
        </div>
    </div>
{% endblock %}