<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/hola.css') }}">
    <title>Document</title>
</head>
<body>
    <h1>Hola</h1>

    <a class="" href="{{url_for('login')}}">
        <button type="button" class="btn btn-dark rounded-0" id="boton">
            <img src=static/img/avatar.svg></button>
        </a>

</body>
</html>